* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,*::before,*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Indie Flower', cursive;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 64px;
    color: #312d29;
    transition: .2s;
}

h1.dark-mode {
    color: #f0f0f0;
}

.button-mode {
    font-size: 32px;
    height: 40px;
    width: 40px;
    text-align: center;
    color: #005075;
    border: 1px solid #005075;
    background-color: #f0f0f0;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
}

.button-mode:hover {
    background-color: #6e8a98;
}

.button-mode.dark-mode {
    font-size: 28px;
    color: #f1c232;
    border: 1px solid #f1c232;
    background-color: #312d29;
}

.button-mode.dark-mode:hover {
    background-color: #675e41;
}

.main {
    min-height: 100vh;
    max-height: 100%;
    background-color: #f0f0f0;
    transition: .2s;
}

.main.dark-mode {
    background-color: #312d29;
}

.container {
    max-width: 1200px;
    padding: 15px;
    margin: 0 auto;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 140px;
    height: 180px;
    margin-right: 12px;
    margin-bottom: 12px;
    background-color: #4d513c;
    color: transparent;
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .2s, color .2s, transform .2s;
}

.card:hover {
    transform: translateY(-4px);
}

.card.open {
    background-color: #707362;
    color: #a5a697;
    transform: translateY(-4px);
}

.card.success {
    background-color: #a5a697;
    color: #4d513c;
    transform: scale(0.95);
}

.title {
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.win-message {
    font-size: 48px;
    color: #ea6e21;
    animation: pulse 2.5s ease-in-out infinite;
}

.button-new-game {
    font-size: 28px;
    height: 40px;
    width: 40px;
    text-align: center;
    color: #ea6e21;
    background: none;
    border: 2px solid #ea6e21;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
}

.button-new-game:hover {
    background-color: #ea6e215f;
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: .5;
    }

    25% {
        opacity: .75;
    }

    50% {
        transform: scale(1.2);
        opacity: 1;
    }

    75% {
        opacity: .75;
    }

    100% {
        transform: scale(0.5);
        opacity: .5;
    }
}
