* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,*::before,*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Indie Flower', cursive;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 64px;
    color: #312d29;
}

.container {
    max-width: 1200px;
    padding: 15px;
    margin: 0 auto;
}

.game {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 15%;
    height: 180px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #4d513c;
    color: transparent;
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .2s, color .2s, transform .2s;
}

.card.open {
    background-color: #707362;
    color: #a5a697;
}

.card.success {
    background-color: #a5a697;
    color: #4d513c;
    transform: scale(0.95);
}
